.footer {
  padding-top: 40px;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

.socials__icon {
  fill: #8391b2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    fill: #29435d;
  }
}

.socials__item {
  margin-right: 20px;

}

.footer__logo img {
  display: block;
  width: 112px;
  height: auto;
  margin-bottom: 30px;
}

.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__nav {
  min-width: 748px;
  flex-grow: 1;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  margin-right: 28px;
}

.footer__item {
  margin: 0;
  padding: 0;
  width: 25%;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.footer__link {
  font-family: "MuseoSansCyrl",
    "Verdana",
    sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0275em;
  text-decoration: none;
  color: #8391b2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    color: #29435d;
  }
}
