// img {
//   max-width: 100%;
//   height: auto;
// }
body {
  font-family: "Gotham Pro", "Verdana", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0025em;
}


.header__logo img {
  display: block;
  width: 112px;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 150px;
  padding-right: 150px;
}

.header {
  min-width: 900px;
  display: flex;
  padding-top: 16px;
  margin-bottom: 44px;
}


.header__nav {
  flex-grow: 2;
}

.header__icon {
  fill: #8391b2;
  position: absolute;
  top: 1px;
  left: 0px;
}

.menu__item {
  margin-left: 55px;
}



.menu__link {
  position: relative;
  color: #8391b2;
  text-decoration: none;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  padding-left: 20px;


  &:hover {
    color: rgba(131, 145, 178, 0.6);
  }

  &:hover .header__icon {
    color: rgba(131, 145, 178, 0.6);
    fill: rgba(131, 145, 178, 0.6);
  }

  &:active,
  &:active .header__icon {
    fill: #29435d;
    color: #29435d;
  }
}

.header__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-right: 8px;
}




@media (max-width: 1199px) {
  .header {
    min-width: 708px;
  }

  .container {
    padding: 16px 30px;
  }

  .header__menu {
    padding: 0;
  }

  .header__icon {
    top: -15px;
    left: 8px;
  }

  .header__logo img {
    display: block;
    width: 82px;
    height: auto;
  }

  .menu__link {
    font-size: 0;
    line-height: 0;
  }

  .menu__item {
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .header {
    min-width: 280px;
    margin-bottom: 19px;
  }

  .container {
    padding: 10px 20px;
  }

  .header__logo img {
    width: 52px;
  }

  .header__icon {
    width: 10px;
    height: 10px;
  }

  .menu__item {
    margin-left: 2px;
  }
}
